.container {
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container h1 {
    font-size: 64px;
    font-weight: bolder;
}
.parrafContainer {
    width: 60vw;
}
.parrafContainer p {
    text-align: center;
}
.linksCont {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card a {
    text-decoration: none;
    color: #ffffff;
}
.card h3 {
    font-family: "Montserrat Alternates", sans-serif;
}
.stackTitle {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.stack {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.stack img {
    width: 80px;
    height: 80px;
}
@media (max-width: 1000px) {
    .stack {
        flex-wrap: wrap;
        width: 80%;
    }
    .stack img {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 50px;
    }
}
@media (max-width: 809px) {
    .stack {
        flex-wrap: wrap;
        width: 80%;
    }
    .stack img {
        margin: 0 30px 50px 30px;
    }
    .linksCont {
        display: grid;
        grid-template-columns: auto auto;
    }
    
}
@media (max-width: 475px) {
    .linksCont {
        display: grid;
        grid-template-columns: auto;
    }
    .stack {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }
}